.header-container {
  width: 100%;
  max-width: 1110px;
  margin: auto;
  padding-top: 10px;
}
.nav-container {
  width: 95%;
  margin: auto;

  display: flex;
  flex-direction: column;
}
.header-logo-logout-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-website-logo {
  width: 130px;
}
@media screen and (min-width: 768px){
    .header-website-logo{
        width: 160px;
    }
}
.header-logout-button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .header-logout-button {
    display: none;
  }
}

.nav_logout-image {
  width: 25px;
}

.mobile-nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e6f6ff;
  height: 60px;

  padding: 0;
  list-style-type: none;
}
.nav-link-mobile {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .mobile-nav-items {
    display: none;
  }
}

.mobile-nav-item-image {
  width: 25px;
}

.nav-items-desktop {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 25px;
  /* align-self: flex-end; */
}
@media screen and (max-width: 767px) {
  .nav-item-desktop {
    display: none;
  }
}

.nav-item-desktop {
}
.nav-link-desktop {
  text-decoration: none;
  color: #475569;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
}
.desktop-logout-button {
  background-color: #0967d2;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 6px 16px;
  border-radius: 4px;
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  .desktop-logout-button {
    display: none;
  }    
}

* {
  /* border: 1px solid red; */
}
